h1{
    background-color: slategrey;
    font-size: 60px;
    text-align: center;
    font-family: 'Playfair Display', serif;

}

h2{
    background-color: slategray;
    font-size: 30px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

h3{
    font-size: 20px;
    text-align: left;
    font-family: 'Titillium Web', sans-serif;
}

p{
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
}